<div class="page">
    <div class="head-top text-center mb-5">
        <h3><strong> Productivity App<strong></h3>
    </div>

    <div class="get-started text-center mt-5 p-4">
        <%= link_to "Log in", sessions_path, class: 'btn btn-lg btn-primary w-100 mb-4' %>
        <%= link_to "Sign up", users_path, class: 'stand-out btn btn-lg btn-light w-100' %>
    </div>
</div>