
<div class="head-login text-center">
    <div class=" p-3 d-flex justify-content-between">

     <%= link_to root_path do %><i class="fa fa-bars fa-2x "></i><%end%>
        <h2><strong>SIGN UP</strong></h2>
     <i class="fa fa-search fa-2x"></i>
    </div>
  
    </div>
<form action="/users" method="POST">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<div class="text-center pt-2 ">
<input type="name" name="user[name]" placeholder="john" class="w-100 mt-4">
<input type="submit" name="submit" value="Sign up" class='btn btn-light w-100 mt-1'>
 </div>
</form>


</form>