 <div class="head-login text-center">
    <div class=" p-3 d-flex justify-content-between">
     <%= link_to activities_path do %><i class="fa fa-bars fa-2x "></i><%end%>
        <h2><strong>Add New Activity</strong></h2>
     <i class="fa fa-search fa-2x"></i>
    </div>
 
    </div>

<%= render 'form', activity: @activity %>

<%= link_to 'Back', activities_path %>
